*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #1f242d;
    color: aliceblue;
}
.header{
    
    top: 0;
    left: 0;
    width: 100;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navbar > a{
    color: aliceblue;
    font-size: 30px;
    text-decoration: none;
    font-weight: 500;
    margin-right: 100px;
    margin-top: 40px;
    
}
a:hover{
    color: aqua;
    
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content > h3 {
    font-size: 32px;
    font-weight: 700;
}
.home-content >h3 >span{
    color: aqua;
} 
.home-content h1{
    font-size: 52px;
    font-weight: 700;
    margin: 3px 0;
}
.home-content h3 {
    margin-bottom: 30px;
}
.home-content p {
    font-size: 20px;
}
.home-content{
    max-width: 600px;
}

.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50px;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
}
.social-icon a :hover{
    background-color: aqua;
    color: #1f242d;
    box-shadow: 0 0 20px aqua;
}
.btn{
    display: inline-block;
    padding: 12px 20px;
    background-color: aqua;
    border-radius: 40px;
    box-shadow: 0 0 10px aqua;
    font-size: 16px;
    color: #1f242d;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}
.home-image > img{
    margin-right: 100px;
}
h2{
    margin-left: 1200px;
    padding: 0px;
}
.Skill1 {
    
    padding: 80px;
    width: fit-content;
    
}
.Skill1 h2{
    color: aqua;
    margin-right: 120px;
}
.Skill1 p{
    font-size: 20px;
    
}
.second-section > .text1{
    margin-left:500px;
}
.text1 > h1{
    margin-left: 600px;
    padding-left: 800px;
    color: aqua;
    font-size: 40px;
    margin-bottom: 20px;
}
.second-section > .card3 >.btn1{
    
}
.p2 p{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.p3 p{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.p4 p{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.office{
    margin-right: 29px;
    background-color:#1f242d;
}
.office > h3{
    color: aqua;
    margin-bottom: 10px;
    font-size: 30px;
}
.market{
    margin-right: 29px;
    background-color:#1f242d;
}
.market >h3{
    color: aqua;
    margin-bottom: 10px;
    font-size: 30px;
}
.historical{
    margin-right: 29px;
    background-color:#1f242d;
}
.historical > h3 {
    color: aqua;
    margin-bottom: 10px;
    font-size: 30px;
}
.btn1 button{
    background-color: aqua;
    color: #fff;
    padding:5px;
    font-size: 30px;
    font-weight: 500;
    border:none ;
    border-radius: 5px;
     margin-left:8px;
    margin-bottom:10px;


}
.btn2 button{
    background-color:aqua;
    color: #fff;
    padding:5px;
    font-size: 30px;
    font-weight: 500;
    border:none ;
    border-radius: 5px;
     margin-left:8px;
    margin-bottom:8px;
    margin-bottom:10px;
}
.btn3 button{
    background-color:aqua;
    color: #fff;
    padding:3px;
    border:none ;
    font-size: 30px;
    font-weight: 500;
    border-radius: 5px;
    margin-left:8px;
    margin-bottom: 20px;
    margin-bottom:10px;
}
.card1{
    padding:20px;
    justify-content:center;
    align-items: center;
    display: flex;
    
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.about-me > h1{
    margin-left: 600px;
    padding-left: 800px;
    color: aqua;
    font-size: 40px;
    margin-bottom: 20px;
}
.me > p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
}